.ssi-container {
  padding: 20px 40px 20px 60px;
  border: 1px #ccc solid;
  position: relative;
  margin: 10px 1px 10px 20px;
  background-color: #fdfdfd !important;
  min-height: 100px;
}

.ssi-menu-link {
	color: #fdfdfd !important;
}

.ssi-list {
	display: inline-block;
}

.ssi-message {
	width: 600px;
	margin: 0 0 10px 10px;
}

/*
Set !important w/o classes size1-3
*/
.ssi-input {
	width: auto;
}