table {
  table-layout: fixed;
}

td.ssi-message-cell {
  vertical-align: top;
  margin: 0;
  border: none;
}

label.ssi-prefix {
  display: inline-block !important;
  margin: 10px 0px 20px 0px;
}

.ssi-container {
  padding: 20px 40px 20px 60px;
  border: 1px #ccc solid;
  position: relative;
  margin: 10px 1px 10px 20px;
  background-color: #fdfdfd !important;
  min-height: 100px;
}

.ssi-form-container {
  border: 1px #ccc solid;
  display: block;
  margin: 0 auto;
  min-height: 150px;
  width: 300px;
  padding: 20px 0px 0px 20px;
}

.ssi-menu-link {
	color: #fdfdfd !important;
}

.ssi-message {
	width: 600px;
	margin: 0 0 10px 10px;
  border: 1px #eaeaea solid;
  min-height: 200px;
  padding: 10px;
}

.ssi-note {
  font-size: 75%;
}

.ssi-nowrap-note {
  font-size: 75%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ssi-time-control {
	width: 50px !important;
  border: 1px #d9d9d9 solid;
  padding: 5px;
  height: 34px;
}